.hideDiv {
    display: none;
}

.search_area_bg{
    background-color: #F6C270;
    border: solid 1px #F6C270;
}

.jumbo_bg_color{
    background-color: white;
    border-bottom: 2px solid #AAAAAA;
}

.jumbo_bg_color i{
    font-size: 25px;
}

.top_info_color{
    color: #EC9B59;
    padding-bottom: 20px;
}

.search_row_wrapper{
    padding: 20px 0;
}

#input_wrapper{
    padding: 0 15px;
}

.card_wrapper{
    width:100%;
}

.subject_font{
    font-size: 0.8em;
}

.search_image_control{
    width: 100%;
    height: 0px;
    padding-bottom:100%;
}

.image_control{
    width: 100%;
    height: 0px;
    padding-bottom:100%;
    border-radius: 50%;
    overflow:hidden;
}

.user_image_wrapper{
    width:100%;
}