<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Session Simulation</title>

    <link rel="stylesheet" href="css/backend-console.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/backend_console.js"></script>
</head>

<body>

Success.
<br><br><br>
<a onclick="window.history.back();">Click to Go Back</a>

</body>

</html>