<!DOCTYPE html>
<html lang="en">
<head>

    <title>Matching</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src="https://kit.fontawesome.com/169cae7cd4.js" crossorigin="anonymous"></script>
<!--    <link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.min.css">-->
<!--    <link rel="stylesheet" href="css/tutordetail.css">-->
<!--    <link rel="stylesheet" href="css/base.css">-->
<!--    <link rel="stylesheet" href="css/homepagetopinfo.css">-->
<!--    <link rel="stylesheet" href="css/login.css">-->
<!--    <link rel="stylesheet" href="css/footer.css">-->
<!--    <link rel="stylesheet" href="css/homepageheader.css">-->
<!--    <link rel="stylesheet" href="css/homepagemiddle.css">-->



<!--    <link rel="stylesheet" href="css/App.css">-->
<!--    <link rel="stylesheet" href="css/adminTableColor.css">-->
<!--    <link rel="stylesheet" href="css/appointment.css">-->
<!--    <link rel="stylesheet" href="css/user.css">-->
<!--    <link rel="stylesheet" href="css/currenttutorial.css">-->


</head>
<body>
<div id="container" class="container-fluid">


</div>
    <script src="js/index.bundle.js"></script>
<!-- The core Firebase JS SDK is always required and must be listed first -->
<!--<script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-app.js"></script>-->

<!--&lt;!&ndash; TODO: Add SDKs for Firebase products that you want to use-->
<!--     https://firebase.google.com/docs/web/setup#available-libraries &ndash;&gt;-->
<!--<script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-analytics.js"></script>-->

<!--<script>-->
<!--    // Your web app's Firebase configuration-->
<!--    var firebaseConfig = {-->
<!--        apiKey: "AIzaSyBssLhQk-tHnY5v1VbqpTl1vo8MyM5jZX8",-->
<!--        authDomain: "capstone-32387.firebaseapp.com",-->
<!--        databaseURL: "https://capstone-32387.firebaseio.com",-->
<!--        projectId: "capstone-32387",-->
<!--        storageBucket: "capstone-32387.appspot.com",-->
<!--        messagingSenderId: "46000228606",-->
<!--        appId: "1:46000228606:web:77eabbbcf5894293df3daf",-->
<!--        measurementId: "G-79DYY0MRHY"-->
<!--    };-->
<!--    // Initialize Firebase-->
<!--    firebase.initializeApp(firebaseConfig);-->
<!--    firebase.analytics();-->
<!--</script>-->
</body>
</html>